.top-container{
  background-color: #D1E8E4;
  position: relative;
  padding-top: 100px;

}
body{
  text-align: center;
  margin: 0 auto 0 auto;
  position: relative;

}
h1
{
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  font-family: 'sacramento', cursive;
  color: #66BFBF;
}
h2{
  font-family: 'montserrat', sans-serif;
  font-size: 2.5rem;
  margin-top: 0px;
  color: #66BFBF;
}
h3{
  font-family: 'montserrat', sans-serif;
  color: #11999E;
}
p
{
  margin: 0;

}
.subtitle{
  font-weight: normal;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud{
  position: absolute;
  bottom: 300px;
  left: 300px;
}
.middle-container{
}
.profilepic{
  width: 10%;
  height: 10%;
}
.computer{
  width: 20%;
  height: 20%;
}
.chillies{
  height: 20%;
  width: 20%;
}
a{
  color: #11999E;
}
